{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <div>
        <a href="{% url 'main:index'  %}">Главная</a>
    </div>
    <div>

       <div>
            {% if user.is_authenticated %}
            <h1>Профиль пользователя</h1>

            <h2>Профиль пользователя {{ user.username }}</h2>
            {% if user.first_name and user.last_name %}
            <p>Здравствуйте, {{ user.first_name }} {{ user.last_name }} </p>
            {% else %}
            <p>Здравствуйте! </p>
            {% endif %}

           <div class="dropdown-menu">

               <a class="dropdown-item" href="#">Изменить личные данные</a>
               <a class="dropdown-item" href="#">Изменить пароль</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="{% url 'main:logout'  %}">Выйти</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">Удалить</a>
           </div>
       </div>
       {% else %}
        <a href="{% url 'main:login'  %}">Вход</a>
        <a href="{% url 'main:register'  %}">Регистрация</a>
       {% endif %}
    </div>
    {% block content %}
    {% endblock %}

</body>
</html>